<h1>Estimado/a,</h1>

<p> Hay una nueva solicitud de préstamo en su obra la cual puede revisar en el sitio <a href="23.92.24.76/loanformularies">LydPersonas</a> </p>

<p>Saludos Cordiales </p><br>
<p>Atte. LyD Personas</p>