<div class="field">
    <div class="field">
        <%= form.label :areabenefit_id, "Area de beneficio" %><br>
        <%= form.collection_select(:areabenefit_id, Areabenefit.where(is_active: true).order("nombre ASC"), :id, :nombre, {:prompt => "Seleccione área de beneficio"},{:class => "areabenefit_selection", style: "width: 87.5%"}) %>
    </div>
    <br>
    <div class="field">
        <%= form.label :benefit_id, "Beneficio" %><br>
        <%= form.collection_select(:benefit_id, Benefit.where(is_active: true).order("nombre ASC"), :id, :nombre, {:prompt => "Seleccione un beneficio"}, {:class => "contact_selection", style: "width: 87.5%"}) %>
    </div>
  </div>
