

<% if !@rut.nil? && @rut != "" && !@nombre.nil? && @nombre != "" && !@obra.nil? && @obra != "" %>
<div class="ui-37-ld">
 <div class= "row">
    
    	<div class="col-md-4 col-sm-4 col-xs-6 col-mob"> <a href="<%= new_loanformulary_path(:rut_solicitante => params[:asformulary][:rut_atendido], :nombre_solicitante => params[:asformulary][:nombre_atendido],:obra => params[:asformulary][:codigo_obra]) %>" target="_blank" class="bg-green-ld"> <img src='<%= asset_url("trans.png") %>' alt="" />
        <label class="label-ld">Asignar Préstamos</label>
        </a> </div>
  

 </div>
</div>

<% else %>
<div class="ui-37-ld">
 <div class= "row">
    
    	<div class="col-md-4 col-sm-4 col-xs-6 col-mob"> <a href="<%= new_loanformulary_path() %>" target="_blank" class="bg-green-ld"> <img src='<%= asset_url("trans.png") %>' alt="" />
        <label class="label-ld">Asignar Préstamos</label>
        </a> </div>


 </div>

</div>

<% end %>





