$('.contact_selection').empty();
$('.contact_selection').append( $('<option>Seleccione un beneficio</option>'));
<% @contacts.each do |contact| %>
	 $('.contact_selection').append($('<option value="<%= contact.id %>"><%= contact.nombre %></option>'));
	 <% end %>