<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @aspcategory.nombre %>
</p>

<%= link_to 'Edit', edit_aspcategory_path(@aspcategory) %> |
<%= link_to 'Back', aspcategories_path %>
