<h1>Editing Asignarmultiplebeneficio</h1>

<%= render 'form', asignarmultiplebeneficio: @asignarmultiplebeneficio %>

<%= link_to 'Show', @asignarmultiplebeneficio %> |
<%= link_to 'Back', asignarmultiplebeneficios_path %>
