<html>

<body>




<div class="container">

   <div class="content">
    <div class="loginDiv">
    <button onclick="location.href='asignarBeneficiosPanel.html'" type="button" class="button button1">ASIGNAR BENEFICIOS</button>
  	<br> 
  	<button onclick="location.href='asignarMultipleBeneficiosPanel.html'" type="button" class="button button1">ASIGNAR MÚLTIPLES BENEFICIOS</button>

   </div>
   
</div>




  <!-- end .container --></div>
   <div class="footer">
    <p>Pie de página</p>
    <!-- end .footer --></div>
</body>
</html>