


body {

	background-color: #42413C;
	margin: 0;
	padding: 0;
	color: #000;
	width: 100%;
	height: 100%;
	font: 14px/21px "Frutiger-Light", "Frutiger-Light", "Frutiger-Light", sans-serif;
	
}

/* ~~ Selectores de elemento/etiqueta ~~ */
ul, ol, dl { /* Debido a las diferencias existentes entre los navegadores, es recomendable no añadir relleno ni márgenes en las listas. Para lograr coherencia, puede especificar las cantidades deseadas aquí o en los elementos de lista (LI, DT, DD) que contienen. Recuerde que lo que haga aquí se aplicará en cascada en la lista .nav, a no ser que escriba un selector más específico. */
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /* la eliminación del margen superior resuelve un problema que origina que los márgenes escapen de la etiqueta div contenedora. El margen inferior restante lo mantendrá separado de los elementos de que le sigan. */
	padding-right: 15px;
	padding-left: 15px; /* la adición de relleno a los lados del elemento dentro de las divs, en lugar de en las divs propiamente dichas, elimina todas las matemáticas de modelo de cuadro. Una div anidada con relleno lateral también puede usarse como método alternativo. */
}
a img { /* este selector elimina el borde azul predeterminado que se muestra en algunos navegadores alrededor de una imagen cuando está rodeada por un vínculo */
	border: none;
}
/* ~~ La aplicación de estilo a los vínculos del sitio debe permanecer en este orden (incluido el grupo de selectores que crea el efecto hover -paso por encima-). ~~ */
a:link {
	color: #42413C;
	text-decoration: underline; /* a no ser que aplique estilos a los vínculos para que tengan un aspecto muy exclusivo, es recomendable proporcionar subrayados para facilitar una identificación visual rápida */
}
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* este grupo de selectores proporcionará a un usuario que navegue mediante el teclado la misma experiencia de hover (paso por encima) que experimenta un usuario que emplea un ratón. */
	text-decoration: none;
}

/* ~~ este contenedor de anchura fija rodea a las demás divs ~~ */
.container {
	width: 100%;
	background-color: #FFF;
	margin: 0 auto; /* el valor automático de los lados, unido a la anchura, centra el diseño */
}

/* ~~ no se asigna una anchura al encabezado. Se extenderá por toda la anchura del diseño. Contiene un marcador de posición de imagen que debe sustituirse por su propio logotipo vinculado ~~ */
.header {
	background-color: #28A064;
}

/* ~~ Esta es la información de diseño. ~~ 

1) El relleno sólo se sitúa en la parte superior y/o inferior de la div. Los elementos situados dentro de esta div tienen relleno a los lados. Esto le ahorra las "matemáticas de modelo de cuadro". Recuerde que si añade relleno o borde lateral a la div propiamente dicha, éste se añadirá a la anchura que defina para crear la anchura *total*. También puede optar por eliminar el relleno del elemento en la div y colocar una segunda div dentro de ésta sin anchura y el relleno necesario para el diseño deseado.

*/

.content {

	padding: 10px 0;
	width: 100%;	
	height: 100%;
	min-height: 500px;
	
}	

/* ~~ El pie de página ~~ */
.footer {

  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

/* ~~ clases float/clear varias ~~ */
.fltrt {  /* esta clase puede utilizarse para que un elemento flote en la parte derecha de la página. El elemento flotante debe preceder al elemento junto al que debe aparecer en la página. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* esta clase puede utilizarse para que un elemento flote en la parte izquierda de la página. El elemento flotante debe preceder al elemento junto al que debe aparecer en la página. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* esta clase puede situarse en una <br /> o div vacía como elemento final tras la última div flotante (dentro de #container) si #footer se elimina o se saca fuera de #container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}


.containerlog {
    padding: 16px;
}

.loginDiv{
  position: relative;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  margin: auto;
  width:25%;
  height: 30%;
  box-shadow:0px 0px 15px rgba(0,0,0,0.1);
}

.sidebar1 {

	float: left;
	width: 250px;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	box-shadow:0px 0px 15px rgba(0,0,0,0.1);
}

.sidebar2 {

	float: left;
	width: 400px;
	background-color: #FFFFFF;
	padding-bottom: 0px;
}

.table, td, th{
	border: 1px solid #ddd;
	border-collapse: collapse;
	width: 0px;
	
}
tr:hover {background-color: #f5f5f5}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}


.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.button5:hover {
    background-color: #555555;
    color: white;
}


/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.CellWithComment{
  position:relative;
}

.CellComment{
  display:none;
  position:absolute; 
  z-index:100;
  border:1px;
  background-color:white;
  border-style:solid;
  border-width:1px;
  border-color:red;
  padding:3px;
  color:red; 
  top:20px; 
  left:20px;
}

.CellWithComment:hover span.CellComment{
  display:block;
}

.bg-green-ld {
  background-color: #28A064 !important;
}

.label-ld {
color: #000000;
}






.ui-37-ld{
	margin:0px 0px;
	width: 300px;
	box-shadow:0px 0px 15px rgba(0,0,0,0.1);

}

@media(max-width: 500px){
	.ui-37 .col-mob{
		width:100%;
	}
}
/* Download Button */
.ui-37-ld  a {	
	border-radius:3px;
	color:#fff;
	width:230px;
	margin:20px auto;
	padding:15px;
	position:relative;
	overflow:hidden;
	display:block;
	box-shadow: inset 0px 0px 2px rgba(0,0,0,0.4), 4px 4px 0px 1px rgba(0,0,0,0.06);
	-webkit-transition: background 1s;
    -moz-transition: background 1s;
    -o-transition: background 1s;
    transition: background 1s;
}
.ui-37-ld  a:hover {	
	background:rgba(0,0,0,0.4) !important;
}
/* Transparent Image */
.ui-37-ld a > img{
	position: absolute;
	bottom: 33px;
	z-index: 10;
	-ms-transform: rotate(-18deg);
	-moz-transform: rotate(-18deg);  /* FF3.5/3.6 */
	-o-transform: rotate(-18deg);  /* Opera 10.5 */
	-webkit-transform: rotate(-18deg);  /* Saf3.1+ */
	transform: rotate(-18deg);
	right: 0px;
}
/* Icon */
.ui-37-ld  a > i{
	font-size:40px;
	line-height:40px;
	float:left;
	text-align:center;
	margin:5px 0px;
	margin-left:5px;
}
/* Text */
.ui-37-ld  a > span{
	font-size:12px;
	line-height:15px;
	text-transform:uppercase;
	margin-left:25px;
	color:rgba(255,255,255,0.7);
}
.ui-37-ld  a > span > b{
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	margin-left:25px;
	color:#fff;
}

.textForm {
    width: 220px;
}

.contentForm {

	padding: 10px 270px;
	width: 100%;	
	height: 100%;
	min-height: 500px;
	
	
}	

.ui-55 .sidebar{
	width:200px;
	background:#fff;
	box-shadow:0px 0px 15px rgba(0,0,0,0.1);
	position:absolute;
	top: 200px;
	border-right:1px solid #e8e8e8;
	
}
.ui-55 .sidebar ul li a{
	display:block;
	width:200px;
	height:100px;
	text-align:center;
	border-top:1px solid #eaeaea;
}

.ui-55 .mainbar{
	margin:50px;
	margin-left:230px;
}

.ui-15 .ui-form .ui-icon{
	right:10px;
	top: 0;
	font-size:14px;
	width: 30px;
	color: #ddd;
	line-height:40px;
	position: absolute;
	text-align: right;
}

.btn.btn-green {
	color: #ffffff;
	background: #28A064;
	border: 1px solid #28A064;
}

.btn.btn-green:hover,
.btn.btn-green:focus,
.btn.btn-green.active,
.btn.btn-green:active {
	background: #c0c0c0;
	color: #ffffff;
}

.row{
    margin-left: 0%;
}

.row-1{
	margin-left: 0%
}
.row-2{
	margin-left: 0%
}

.row-3{
	margin-left: 0%
}

.ui-34{
	max-width: 100%;
}

.ui-273 {
	max-width: 900px;
	background:#fff;
	margin: 60px auto;
}

