<!DOCTYPE html>
<html>
<head>
	<title></title>
<head>
<body>

<div id="header">
 <img src='<%= asset_url("headerCarta.png")%>'></img>
</div>

<div id="footer">
  <img src='<%= asset_url("footer.png")%>'>
</img>
</div>
</body>
</html>
